* {
  font-family: "Ubuntu", sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #eff5f8;
}

button {
  background-color: #333333;
  font-size: 20px;
  color: white;
  padding: 15px 15px;
  text-align: center;
  display: inline-block;
  border-radius: 15px;
  transition-duration: 0.4s;
  margin: 20px;
  border: grey;
}

h1 {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.quiz-intro {
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}

button:hover {
  background-color: grey;
}

#question-body {
  display: none;
  font-size: 20px;
  width: 100%;
}

.question-header {
  display: block;
  position: relative;
  padding-left: 45px;
  width: 100%;
  font-size: 22px;
  line-height: 30px;
}

.radio-main {
  width: 100%;
  display: block;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  user-select: none;
  word-wrap: none;
  line-height: 50px;
}

.radio-sub {
  width: 50%;
  margin: 10px;
}
.radio-sub:hover {
  background-color: gray;
  width: 2 0%;
}

.time {
  text-align: center;
  font-size: 20px;
}
